<footer class="bg-secondary">
  <div class="container">
    <div class="footer-rights-container w-100 d-flex justify-content-center text-white">
      <h6 class="copyright text-center">
        Copyright © 2021 Chris and Pin. All rights reserved. <br />建議最佳解析度 1920*1080
      </h6>
      <!-- <ul class="policy-list d-flex">
        <li class="list-item ml-6"><a href="#" class="list-item-link">隱私權政策</a></li>
        <li class="list-item ml-6"><a href="#" class="list-item-link">服務條款</a></li>
      </ul> -->
    </div>
  </div>
</footer>
