<footer class="bg-secondary">
  <div class="container">
    <div class="footer-nav-container d-flex justify-content-between align-items-center w-100 mb-3">
      <ul class="footer-nav d-flex text-white">
        <li class="list-item mr-6"><a href="./index.html" class="list-item-link">首頁</a></li>
        <li class="list-item mr-6"><a href="./glasses.html" class="list-item-link">系列鏡框</a></li>
        <li class="list-item mr-6"><a href="./store.html" class="list-item-link">門市據點</a></li>
        <li class="list-item mr-6"><a href="./blog.html" class="list-item-link">部落格</a></li>
        <li class="list-item mr-6"><a href="./faq.html" class="list-item-link">常見問題</a></li>
      </ul>
      <div class="socialIcon-container">
        <ul class="soicalIcon-list d-flex text-white">
          <li class="list-item ml-4">
            <a href="#" class="list-item-link"><i class="fab fa-facebook"></i></a>
          </li>
          <li class="list-item ml-4">
            <a href="#" class="list-item-link"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="list-item ml-4">
            <a href="#" class="list-item-link"><i class="fab fa-line"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-info-container mb-3">
      <ul class="footer-info text-white">
        <li class="list-item d-flex mb-2 align-content-center">
          <i class="footer-info-icon fas fa-phone-alt"></i>0800-000-000
        </li>
        <li class="list-item d-flex"><i class="footer-info-icon far fa-envelope"></i>glasses@business.com</li>
      </ul>
    </div>

    <div class="footer-rights-container pt-4 w-100 d-flex justify-content-between text-white">
      <h6 class="copyright">Copyright © 2020 Glasses.All rights reserved.</h6>
      <ul class="policy-list d-flex">
        <li class="list-item ml-6"><a href="#" class="list-item-link">隱私權政策</a></li>
        <li class="list-item ml-6"><a href="#" class="list-item-link">服務條款</a></li>
      </ul>
    </div>
  </div>
</footer>
